{% extends 'base.html.twig' %}

{% block title %}Jérémy DONIAK{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>Jérémy DONIAK</h1>
    <h2>Développeur web - <br> web mobile</h2>
</header>

<main class="container-fluid py-5">

    <section>
        <div class="row">
            <div class="col-8 offset-2 py-5">
                <h3>Projets</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="row bg-light">
            <div class="col-8 offset-2 py-5">
                <h3>Compétences</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-8 offset-2 py-5">
                <h3>À propos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla at dolorem unde iure nam autem veniam debitis eveniet ipsam, maiores ab? Repellat mollitia qui delectus, sit accusamus maiores sunt enim.</p>
            </div>
        </div>
    </section>

</main>

{% endblock %}
