{% extends 'base.html.twig' %}

{% block title %}Jérémy DONIAK{% endblock %}

{% block body %}

<header id="home-header">
    <div id="header-img"></div>
    <h1>Jérémy DONIAK</h1>
    <h2>Développeur web - <br> web mobile</h2>
</header>

{% endblock %}
